!background = #000
!text = #ddd
!link = #fff
!font = 'Monaco', 'Courier New', fixed

body
  :color = !text
  :background-image url('/images/background-paisley.jpg')
  :font-family = !font
  :padding 0
  :margin 0
  :font-size 12px
  #logo
    :position absolute
    :top 0
    :left 30px
  #terminal
    :background-color = !background 
    :background-image url('/images/background.png')
    :top 0 
    :left 0 
    :overflow scroll
    :border-width 0
    :border-style solid 
    :border-top-color #84b491
    :border-left-color #84b491
    :border-right-color #5c8868
    :border-bottom-color #5c8868
    a 
      :color = !link
    p
      :padding 0
      :margin 0
